/**
 * Divider
*/
.ant-divider-vertical {
  margin: 0 !important;
}

.ant-divider {
  margin: 0 !important;
}

/**
 *  Form
*/
.ant-form-item {
  margin-bottom: 25px;
}

/**
 *  Input
*/
.ant-input-affix-wrapper {
  height: 38px;
  padding: 0 15px 0 15px;
  border-radius: 20px;

  .ant-input {
    height: 100% !important;
  }

  .ant-input-prefix {
    margin-right: 8px;

    .anticon {
      font-size: 14px;
    }
  }
}

/**
 * Select
*/
.ant-select {
  height: 38px;
  border-radius: 20px;

  .ant-select-selector {
    border-radius: 20px;
    padding: 0 15px !important;

    .ant-select-selection-search-input {
      height: 100% !important;
    }
  }

  .ant-select-arrow {
    margin-right: 5px;
  }
}

/**
 *   Button
*/
.ant-btn {
  border-radius: 20px;
}
